---
http_interactions:
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/providers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"providers":[{"providerId":5,"organizationId":4,"serverId":"DSU","serverKind":"SS"},{"providerId":6,"organizationId":5,"serverId":"DSU","serverKind":"SS"},{"providerId":7,"organizationId":6,"serverId":"DSU","serverKind":"SS"},{"providerId":8,"organizationId":7,"serverId":"DSU","serverKind":"SS"},{"providerId":9,"organizationId":8,"serverId":"DSU","serverKind":"SS"},{"providerId":10,"organizationId":9,"serverId":"DSU","serverKind":"SS"},{"providerId":11,"organizationId":10,"serverId":"DSU","serverKind":"SS"},{"providerId":12,"organizationId":11,"serverId":"DSU","serverKind[...]
