---
http_interactions:
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/organizations
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"organizations":[{"organizationId":4,"address":"","tel":"","organizationName":"5aa395a990f4436bb7e574751ed3674a"},{"organizationId":5,"address":"","tel":"","organizationName":"7a50bb09594246e78e1f19c425baaa17"},{"organizationId":6,"address":"","tel":"","organizationName":"ec7ef777c24749d08ce553496da1b2a2"},{"organizationId":7,"address":"","tel":"","organizationName":"f82f879c33334818a8693f36bfbbffe6"},{"organizationId":8,"address":"","tel":"","organizationName":"470e4b48957b4774b20ed7be910975bf"},{"organizationId":9,"address":"","tel":"","organizationName":"4cac3de497a84e[...]
