---
http_interactions:
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"projects":[{"projectId":4,"projectName":"5aa395a990f4436bb7e574751ed3674a","organizationId":4,"createDate":"2017-08-08
        06:57:57.0"},{"projectId":5,"projectName":"7a50bb09594246e78e1f19c425baaa17","organizationId":5,"createDate":"2017-08-08
        15:08:31.0"},{"projectId":6,"projectName":"ec7ef777c24749d08ce553496da1b2a2","organizationId":6,"createDate":"2017-08-09
        01:23:50.0"},{"projectId":7,"projectName":"f82f879c33334818a8693f36bfbbffe6","organizationId":7,"createDate":"2017-08-09
        06:35:27.0"},{"projectId":8,"projectName":"470e4b48957b4774b20ed7be910975bf","organizationId"[...]
