---
http_interactions:
- request:
    method: post
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots
    body:
      encoding: UTF-8
      string: '{"botId":"testbot","scenarioProjectId":"DSU","language":"ja-JP","description":"for
        test"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Aug 2018 01:43:33 GMT
recorded_with: VCR 4.0.0
