---
http_interactions:
- request:
    method: post
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/scenarios/compile
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"statusUri":"http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/NLPManagementAPI/projects/212/bots/test_bot/scenarios/compile/status"}'
  recorded_at: Tue, 04 Sep 2018 22:07:37 GMT
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/scenarios/compile/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":"Completed","created":"2018-09-05 07:07:37"}'
  recorded_at: Tue, 04 Sep 2018 22:07:38 GMT
- request:
    method: post
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/scenarios/transfer
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 202
      message: Accepted
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"statusUri":"http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/NLPManagementAPI/projects/212/bots/test_bot/scenarios/transfer/status"}'
  recorded_at: Tue, 04 Sep 2018 22:07:41 GMT
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/scenarios/transfer/status
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"transferStatusResponses":[{"hostName":"localhost","status":"Completed","transfered":"2018-09-05
        07:07:39"}]}'
  recorded_at: Tue, 04 Sep 2018 22:07:42 GMT
recorded_with: VCR 4.0.0
