---
http_interactions:
- request:
    method: post
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/accounts
    body:
      encoding: UTF-8
      string: '{"accountName":"test_account","password":"testaccount20180821","authorization":2,"enable":true}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"accountId":236}'
  recorded_at: Tue, 21 Aug 2018 07:42:51 GMT
recorded_with: VCR 4.0.0
