---
http_interactions:
- request:
    method: get
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/aiml/test
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment;filename*=UTF-8''test.aiml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8"?>
        <aiml version="2.0.0" xmlns="http://www.nttdocomo.com/aiml/schema" xmlns:html="http://www.w3.org/1999/xhtml" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.nttdocomo.com/aiml/schema/AIML.xsd">
          <category>
            <pattern>*</pattern>
            <template>
              Hello, world!
            </template>
          </category>
        </aiml>
  recorded_at: Tue, 04 Sep 2018 23:38:27 GMT
recorded_with: VCR 4.0.0
