---
http_interactions:
- request:
    method: put
    uri: http://nlu-external-dev-977165653.ap-northeast-1.elb.amazonaws.com/management/v2.2/projects/212/bots/test_bot/aiml
    body:
      encoding: UTF-8
      string: "-------------RubyMultipartPost-e2ad91e439a2f16888987a7a89f6aa41\r\nContent-Disposition:
        form-data; name=\"uploadFile\"; filename=\"test.aiml\"\r\nContent-Length:
        381\r\nContent-Type: text/plain\r\nContent-Transfer-Encoding: binary\r\n\r\n<?xml
        version=\"1.0\" encoding=\"UTF-8\"?>\n<aiml version=\"2.0.0\" xmlns=\"http://www.nttdocomo.com/aiml/schema\"
        xmlns:html=\"http://www.w3.org/1999/xhtml\" xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\"
        xsi:schemaLocation=\"http://www.nttdocomo.com/aiml/schema/AIML.xsd\">\n  <category>\n
        \   <pattern>*</pattern>\n    <template>\n      Hello, world!\n    </template>\n
        \ </category>\n</aiml>\n\r\n-------------RubyMultipartPost-e2ad91e439a2f16888987a7a89f6aa41--\r\n\r\n"
    headers:
      Authorization:
      - NLP f68518ed5a40907ec6b754caeaadc32b0af4920f69955c22749e38e17946ea57
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost-e2ad91e439a2f16888987a7a89f6aa41
  response:
    status:
      code: 201
      message: Created
    headers:
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Wed, 22 Aug 2018 08:46:36 GMT
recorded_with: VCR 4.0.0
